:root {
    --mainTextColor-light: #000;
    --secondaryTextColor-light: rgb(51 51 51);
    --mainLinkColor-light: #0da2b8;
    --mainBorderColor-light: rgb(218, 218, 218);
    --mainBgColor-light: rgb(249, 250, 251);
    --mainTextColor-dark: #fff;
    --secondaryTextColor-dark: #adb0b1;
    --mainLinkColor-dark: rgb(30, 190, 214);
    --mainBorderColor-dark: #2b3031;
    --mainBgColor-dark: #131415;
    --mainTextColor: var(--mainTextColor-dark);
    --secondaryTextColor: var(--secondaryTextColor-dark);
    --mainLinkColor: var(--mainLinkColor-dark);
    --mainBorderColor: var(--mainBorderColor-dark);
    --mainBgColor: var(--mainBgColor-dark);
}

* {
    font-family: 'Readex Pro';
    line-height: 1.5em;
    box-sizing: border-box;
    color: var(--mainTextColor);
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--mainBgColor);
}

#container--main {
    max-width: 700px;
    margin: 0 auto;
    padding: 1em;
}

#wrapper--hero {
    display: flex;
    align-items: center;
    gap: 4em;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
    justify-content: center;
}

#wrapper--hero div {
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    display: grid;
    gap: 1.5em;
}

#bio {
    word-spacing: .5ch;
    letter-spacing: .1ch;
}

#email {
    letter-spacing: .1ch;
}

#bio a {
    text-decoration: none;
    color: var(--mainLinkColor-light);
}

#qualifications--list {
    list-style: none;
}

li {
    line-height: 1.9em;
}

h2 {
    margin-bottom: 1rem;
}

@media (max-width: 600px) {
    #wrapper--hero {
        flex-direction: column;
    }
}

@media (max-width: 600px) {
    #wrapper--hero {
        display: flex;
        align-items: center;
        gap: 1em;
    }
}

@media (max-width: 600px) {
    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

/* Image */
#profile-pic {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

@media (max-width: 600px) {
    #profile-pic {
        width: 200px;
        height: 200px;
    }
}

/* Name and Bio section */
#user-name {
    font-size: 48px;
    line-height: 1em;
    margin: 0;
}

@media (max-width: 600px) {
    #user-name {
        text-align: center;
        font-size: 50px;
        margin-bottom: 1rem;
        line-height: 1.1em;
    }

    #bio {
        text-align: center;
    }

    #email {
        text-align: center;
    }

    #bio,
    a {
        font-weight: 300;
    }

    p,
    span {
        color: var(--secondaryTextColor);
        font-size: 1em;
    }

    a {
        text-decoration: none;
        color: var(--mainLinkColor);
    }

    #email {
        color: var(--mainTextColor);
    }
}

/* Sections */
.section--page {
    padding-top: 1em;
    padding-bottom: 1em;
}

@media (max-width: 600px) {
    .section--page {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

#socials--list {
    display: flex;
    justify-content: space-between;
    column-gap: 1em;
    flex-wrap: wrap;
}

#socials--list a {
    font-weight: 300;
    color: var(--secondaryTextColor);
    font-size: 0.9em;
    transition: 0.3s;
    text-decoration: none;
    letter-spacing: .1ch;
}

/* Section Teck stack */

#wrapper--techstack__items {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    font-size: 0.9em;
}

.card--techstack {
    border: 1px solid var(--mainBorderColor);
    border-radius: 5px;
    padding: 0.5em 1em;
    align-items: center;
}

span {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

#socials--list a:hover {
    text-decoration: underline;
    font-weight: 100;
    color: var(--mainLinkColor);
    font-size: 0.9em;
}

@media (max-width: 600px) {
    #socials--list {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        justify-content: center;
        grid-gap: 0.5rem;
        width: 90%;
        margin: 0 auto;
        text-align: center;
        transform: translateY(-30%);
    }

    #wrapper--hero div {
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        display: block;
    }

    #bio {
        line-height: 1.6;
    }

    #email {
        margin-top: 1rem;
    }

    h2 {
        margin-bottom: 1rem;
        margin-top: 0;
        text-align: center;
        transform: translateY(-50%);
    }

    #qualifications--list {
        list-style-type: none;
    }

}

/* Section Work History */
.line-break {
    background-color: var(--mainBorderColor);
    height: 1px;
}

.card--work-history {
    border-left: 1px solid var(--mainBorderColor);
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 2em;
}

p {
    color: var(--secondaryTextColor);
    font-size: 1em;
}

.card--work-history ul li {
    line-height: 1.9;
}

.card--work-history,
strong {
    margin-bottom: 2rem;
}

.card--work-history p {
    margin-bottom: 1rem;
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
    #socials--list {
        display: flex;
        transform: translateY(-100%);
        justify-content: space-between;
        column-gap: 1em;
        flex-wrap: wrap;
    }
}